{% extends 'layout/base.html' %}

{% block content %}
    <div class="login-image">
        <img src="https://res.cloudinary.com/dndsrbf9s/image/upload/v1731984424/4bd6eb8619e6625fe568afdd8682c2ba_gknloh.jpg"
             alt="image-cover" class="img-fluid">
        <form method="post" action="/forgot-password" class="login-form text-center">

            <h1 class="text-danger">Reset your password</h1>
            {% if step == 1 or not step %} <!-- Bước 1: Xác minh tài khoản -->
                {% if err_message %}
                    <div class="alert alert-danger">
                        <strong>ERROR!</strong> {{ err_message }}
                    </div>
                {% endif %}
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="account" placeholder="Enter username or email"
                           name="account" required>
                    <label for="email">Enter username or email</label>
                    <input type="hidden" name="step" value="1">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Send OTP</button>
            {% elif step == 2 %} <!-- Bước 2: Xác minh OTP -->
                {% if err_message %}
                    <div class="alert alert-danger">
                        <strong>ERROR!</strong> {{ err_message }}
                    </div>
                {% endif %}
                <div class="form-floating mb-3 mt-3">
                    <input type="number" class="form-control" id="otp" placeholder="Enter OTP code"
                           name="otp" required>
                    <label for="email">Enter OTP code</label>
                    <input type="hidden" name="step" value="2">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Confirm OTP</button>
            {% elif step == 3 %} <!-- Bước 3: Đặt lại mật khẩu -->
                {% if err_message %}
                    <div class="alert alert-danger">
                        <strong>ERROR!</strong> {{ err_message }}
                    </div>
                {% endif %}
                <div class="form-floating mt-3 mb-3">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"
                           required>
                    <label for="pwd">Password</label>
                </div>

                <div class="form-floating mt-3 mb-3">
                    <input type="password" class="form-control" id="confirm" placeholder="Confirm password"
                           name="confirm"
                           required>
                    <label for="confirm">Confirm password</label>
                    <input type="hidden" name="step" value="3">
                    {% if error_message %}
                        <p class="text-danger error-message">{{ error_message }}</p>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary mb-2">Change Password</button>
            {% endif %}
        </form>
    </div>
{% endblock %}