{% extends 'layout/base.html' %}

{% block content %}

<div class="login-image">
    <img src="https://res.cloudinary.com/dndsrbf9s/image/upload/v1731984424/4bd6eb8619e6625fe568afdd8682c2ba_gknloh.jpg"
         alt="image-cover" class="img-fluid">
    <form method="post" action="/register" class="login-form text-center" enctype="multipart/form-data">
        <h1 class="text-danger">Register</h1>

        <div style="text-align: left">
            <p>Chosse Customer Type</p>
            <label>
                <input type="radio" name="type" value="domestic"
                       {% if customer_type== 'domestic' %}
                checked
                {% endif %}> DOMESTIC
            </label>

            <label>
                <input type="radio" name="type" value="foreign"
                       {% if customer_type== 'foreign' %}
                checked{% endif %}> FOREIGN
            </label>
        </div>

        <div style="text-align: left; margin-top: 10px;">
            <p>Chosse Gender</p>
            <label>
                <input type="radio" name="gender" value="male"
                       {% if gender== 'male' %}
                checked{% endif %}> Male
            </label>

            <label>
                <input type="radio" name="gender" value="female"
                       {% if gender== 'female' %}
                checked{% endif %}> Female
            </label>
        </div>

        <div class="form-floating mb-3 mt-3">
            <input type="text" value="{{ name|default('') }}" class="form-control" id="name"
                   placeholder="Enter name" name="name" required>
            <label for="name">Name</label>
        </div>

        <div class="form-floating mb-3 mt-3">
            <input type="text" value="{{ identification_card|default('') }}" class="form-control"
                   id="identification"
                   placeholder="Enter identification" name="identification" required>
            <label for="name">Enter identification</label>
            {% if error_message and error_message.get('err_identification_card') %}
            <p class="text-danger error-message">{{ error_message['err_identification_card'] }}</p>
            {% endif %}
        </div>

        <div class="form-floating mb-3 mt-3">
            <input type="text" value="{{ username|default('') }}" class="form-control" id="email"
                   placeholder="Enter username" name="username"
                   required>
            <label for="email">User name</label>
            <p class="error-message">Username must only contain letters (a-z, A-Z), numbers (0-9). No spaces or
                accents are allowed.</p>
            {% if error_message and error_message.get('err_username') %}
            <p class="text-danger error-message">{{ error_message['err_username'] }}</p>
            {% elif error_message and error_message.get('err_format') %}
            <p class="text-danger error-message">{{ error_message['err_format'] }}</p>
            {% endif %}
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"
                   required>
            <label for="pwd">Password</label>
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="password" class="form-control" id="confirm" placeholder="Confirm password" name="confirm"
                   required>
            <label for="confirm">Confirm password</label>
            {% if error_message and error_message.get('err_password') %}
            <p class="text-danger error-message">{{ error_message['err_password'] }}</p>
            {% endif %}
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="text" value="{{ email|default('') }}" class="form-control" id="email"
                   placeholder="Enter email" name="email" required>
            <label for="email">Enter email</label>
            {% if error_message and error_message.get('err_email') %}
            <p class="text-danger error-message">{{ error_message['err_email'] }}</p>
            {% endif %}
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="number" value="{{ phone|default('') }}" class="form-control" id="phone"
                   placeholder="Enter phone number" name="phone"
                   required>
            <label for="phone number">Enter phone number</label>
            {% if error_message and error_message.get('err_phone') %}
            <p class="text-danger error-message">{{ error_message['err_phone'] }}</p>
            {% endif %}
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="file" accept=".png, .jpg" class="form-control" id="avatar" name="avatar">
            <label for="avatar">Avatar</label>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

{% endblock %}